* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}

nav {
    background-color: snow;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 20px;
    transition: 0.6s ease;
}

nav a:hover {
    background-color: #f0f0f0;
    text-decoration: underline;
    color: black;
}

nav li:first-child {
    margin-right: auto;
}

.CO {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.CO li{
    width: 100%;
}

.CO a { 
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%; 
    background-color: #fff; 
    z-index: 1000; 
}

nav li img {
    width: 38px; 
    height: auto; 
    margin-left: 10px; 
}


.CO {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 350px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.CO li{
    width: 100%;
}

.CO a { 
    width: 100%;
}

nav {
    position: fixed;
    top: 0;
    width: 100%; 
    background-color: #fff; 
    z-index: 1000; 
}

nav li img {
    width: 38px; 
    height: auto; 
    margin-left: 10px; 
}




.submitB {
    background-color: black; 
    border: none;
    color: white;
    padding: 20px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1090px;
    margin-left: 35px;
    width: 300px;
}



.submitB:hover {
    background-color: rgb(126, 117, 117); 
}

#logo {
    width: 200px; 
    height: 50px; 
}

#cartInfo {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    line-height: 1.6;

}

.search{
    position: relative;
    margin-top: 10px;
    height: 10px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: white;
    border-radius: 8px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
} 


.search .input{
    border-color: #fff;
    font-size: 14px;
    width: 60px;
    border: 0;
    font-weight: 500;
    background: transparent;
    transition: width 0.3s ease;
}

.search:hover input {
    width:100;
}

/*search icon*/
.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 17px;
    position: absolute;
    top: 2;
    height: 20px;
    width: 60px;
    transition: transform 0.3 ease;
}

.btn:focus, .input:focus {
    outline: none;
}

.search.active .input {
    width: 200px;
}

.search.active .btn {
    transform: translateX(150px);
}

.wrapper {
    display: flex;
}



.side-nav {
    margin-top: 360px;
    margin-left: 310px;
    position: fixed;
    left: 0;
    top: 0;
    width: 290px;
    height: 400px;
    background: rgb(42, 40, 40); 
    color: white;
    padding: 15px;
    border-radius: 2px;
}

.side-nav h1 {
    text-align: center;
    margin-bottom: 50px;
}

.side-nav ul {
    list-style: none;
    padding: 0;
    
}

.side-nav ul li {
    padding: 22px;
    border-bottom: 1px solid rgba(79, 36, 36, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-top: 36px;
    
}

.side-nav ul li i {
    position: relative;
    padding-left: 100px;
    transition: all 0.3 ease;
    display: inline-block;
}

.side-nav ul li a {
    color: white;
    font-size: 16px;
    display: inline-block;
}

.side-nav ul li i:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
    background: transparent;
}


.side-nav ul li a:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease; 
    background: transparent;
}




.main-content {
    margin-top: 0px;
    text-align: center;
    width: 1300px;
    margin-left: 600px;
    padding: 30px;
    height: 2000px;
}

section {
    height: 100vh;
    width: 1250px;
    padding: 120px;
    background: snow; 
    scroll-behavior: smooth;
    height: 1750px;
}

.container2 {
    margin: auto;
    background-color: transparent;
    overflow: auto;
}

.gallery {
    margin: 5px;
    float: left;
    padding-top: 50px;
}

.gallery img {
    max-width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery:hover img {
    transform: scale(1.1);
}


/*sdsadas*/
.item {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: whitesmoke;
    padding: 10px 0;
    text-align: center;
    transition: opacity 0.3s ease;
}


.gallery:hover .item {
    opacity: 1;
}



.fcontainer {
    max-width: 1170px;
    margin: auto;
    background-color: transparent;
}

ul {
    list-style: none;
}


.footer {
    background-color: rgb(61, 57, 57);
    padding: 70px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: black;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #d4d4d4;
    display: block;
    transition: all 0.5s ease;
}

.footer-col ul li a:hover {
    color: red;
    padding-left: 16px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}


.footer-col .social-links a:hover {
    color: red;
    padding-left: 2px;
    transform: rotate(360deg);
}

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 190%;
    }
}


.dropdown {
    width: 300px;
    position: relative;
    margin: 2em;
}

.dropdown * {
    box-sizing: border-box;
}

.select {
    background: rgb(43, 43, 43);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px rgb(151, 141, 141) solid;
    border-radius: 0.5em;
    padding: 1em;
    cursor: pointer;
}


.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid white;
    transition: 0.3s;
    
}


.menu {
    width: 298px;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 4px;
    display: none;
}
  
.menu li {
    padding: 9px;
    cursor: pointer;
    border: 0.1px black solid;
    font-family: serif;
}

  
.menu li:hover {
  display: contents;
  opacity: 1;
  display: block;
  box-shadow: 0 4px 8px rgba(5, 5, 5, 0.1);
}

.dropbtn {
    background-color: #525752;
    color: white;
    padding: 5px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#next button{
    font-family: serif;
    width: 200px;
    margin-top: 20px;
    margin-left: -100px;
    padding: 10px;
    font-size: 20px;
    background-color: #525752;
    color: white;
}

#next button:hover {
    background-color: black;
    color: white;
}


:root {
    --line-border-fill: black;
    --line-border-empty: #e0e0e0;
}


.container3{
    margin-top: 900px;
    text-align: center;
}

.progressC {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 30px;
    max-width: 100%;
    width: 450px;
}

.progressC::before {
    content: "";
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 100%;
    z-index: -1;
}

.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 4px;
    width: 0%;
    z-index: -1;
    transition: .4s ease;
}

.circle {
    background-color: var(--line-border-empty);
    color: #999;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #e0e0e0;
    transition: .4s easel;
}

.circle.active {
    border-color: var(--line-border-fill);
}

.btn3 {
    background-color: var(--line-border-fill);
    border-radius: 6px;
    cursor: pointer;
    padding: 8px 30px;
    margin: 5px;
    font-size: 14px;
    color: white;
}

.btn3:active {
    transform: scale(0.98);
}


.btn3:focus {
    outline: 0;
}

.btn3:hover {
    color: white;
}

.btn3:disabled{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}









